<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта пользователя</title>
</head>
<body>
<div class="col-md-3 text-end">
    <form>
    <div>
        <a href="{% url 'cash_in' %}" class="btn btn-outline-primary me-2">Cash_In</a>
    </div>
    <div>
        <a href="{% url 'cash_out' %}" class="btn btn-outline-primary me-2">Cash_Out</a>
    </div>
    <div>
        <a href="{% url 'history' %}" class="btn btn-outline-primary me-2">History</a>
    </div>
    </form>
  </div>
</body>
</html>